#добавление папок
.idea/
venv/

#Игнорирование по типу файла
# *.pdf / !1.pdf (все pdf за исключением 1.pdf

#игнорирование файла во всх директориях
# example.html

#игнорирование файла только в корневой директории
# /example.html

# Игнорирование log.txt во всех папках дирректорих папки processing корневой дирректории
# /phjcessing/**/log.txt

